body{
    margin: 0;
    font-family: Arial, sans-serif;
    background: yellow;
}

div{
    width: 90%;
    margin: auto;
    padding: 10px;
}

/* SECCIONES */
section{
    background: #aee6e6;
    padding: 15px;
    margin-bottom: 10px;
}

/* ASIDE */
aside{
    background: violet;
    padding: 15px;
    margin-bottom: 10px;
}

/* FOOTER */
footer{
    background: turquoise;
    padding: 15px;
    font-weight: bold;
}
